/* header.css */
.header-fade-enter {
  opacity: 0;
}

.header-fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.header-fade-exit {
  opacity: 1;
}

.header-fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
